.about-us {
  padding: 100px 0;
}
.about-us .heading {
  text-align: center;
}
.about-us .desc {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  line-height: 28px;
  margin-top: 20px;
}
.about-us .gridBoxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 15px 0;
  gap: 20px;
}
.about-us .gridBoxs .gridBox {
  position: relative;
  z-index: 1;
}
.about-us .gridBoxs .gridBox::before {
  content: "";
  background-color: #0D250E;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
}
.about-us .gridBoxs .gridBox::after {
  content: "";
  background-color: #000;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.about-us .gridBoxs .gridBox .image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.about-us .gridBoxs .gridBox .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 50px 30px;
  color: #fff;
}
.about-us .gridBoxs .gridBox .content h3 {
  font-size: 32px;
}
.about-us .gridBoxs .gridBox .content p {
  padding-top: 20px;
  max-width: 327px;
  margin: auto;
  line-height: 30px;
}
.about-us .gridBoxs .gridBox:hover::before {
  opacity: 1;
}

.what-we-offer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 1519px;
  margin-left: auto;
  margin-right: auto;
}
.what-we-offer .left-side {
  background-image: url(../../images/page-banner.jpg);
  padding: 15em 4em;
  color: #fff;
  position: relative;
  z-index: 0;
}
.what-we-offer .left-side::before {
  content: "";
  background-color: #000;
  opacity: 0.6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
.what-we-offer .left-side h5 {
  font-size: 42px;
}
.what-we-offer .left-side h2 {
  font-size: 45px;
}
.what-we-offer .right-side {
  height: 100%;
  display: flex;
  background-color: #F2FBF2;
  padding: 0 4em;
}
.what-we-offer .right-side .gridBoxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  margin: auto 0;
}
.what-we-offer .right-side .gridBoxs .icon {
  font-size: 35px;
  color: #2a7d2e;
}
.what-we-offer .right-side .gridBoxs .number {
  padding-top: 10px;
  font-size: 34px;
  color: #323b43;
}
.what-we-offer .right-side .gridBoxs .text {
  color: gray;
  padding-top: 12px;
  line-height: 27px;
}

.expert-team {
  padding: 100px 30px;
}
.expert-team .heading {
  text-align: center;
}
.expert-team .GridBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.expert-team .GridBoxes .gridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
.expert-team .GridBoxes .gridBox .image img {
  height: auto;
  max-width: 100%;
}
.expert-team .GridBoxes .gridBox .content {
  padding: 0 30px;
}
.expert-team .GridBoxes .gridBox .content h4 {
  font-size: 20px;
  color: #323b43;
  padding-bottom: 5px;
}
.expert-team .GridBoxes .gridBox .content .position {
  display: block;
  padding-bottom: 25px;
  color: gray;
}
.expert-team .GridBoxes .gridBox .content table tr td {
  color: gray;
  padding: 7px 0;
}
.expert-team .GridBoxes .gridBox .content table tr td:last-child {
  padding-left: 10px;
}
.expert-team .GridBoxes .gridBox .content table tr td .fas {
  color: #000;
}
.expert-team .GridBoxes .gridBox .content table tr td.far {
  color: #000;
}
.expert-team .GridBoxes .gridBox .content .social {
  display: flex;
  gap: 10px;
  padding-top: 55px;
}
.expert-team .GridBoxes .gridBox .content .social span {
  height: 30px;
  width: 30px;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 13px;
  background-color: #3b5998;
}
.expert-team .GridBoxes .gridBox .content .social span.fa-twitter {
  background-color: #1da1f2;
}
.expert-team .GridBoxes .gridBox .content .social span.fa-pinterest {
  background-color: #bd081c;
}/*# sourceMappingURL=about.css.map */