@media (max-width:456px){
    .early-contact-Sec{
        .left-side{
            h3.title{
                font-size: 25px !important;
            }
        }
        .right-side{
            flex-direction: column;
            align-items: baseline !important;
            gap: 5px !important;
        }
    }
}

@media (max-width:536px){
    .expert-team{
        .GridBoxes{
            .gridBox{
                grid-template-columns: 1fr !important;
                .content{
                    .position{
                        padding-bottom: 5px !important;
                    }
                }
                table{
                    td{
                        padding: 5px 0 !important;
                    }
                }
                .social{
                    padding-top: 25px !important;
                }
            }
        }
    }
}